* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  /* position: relative; */
  top: 0;
  width: 100%;
  padding: 0 0px 0px 0;
  color: white;
  z-index: 99999;
  position: fixed;
}
nav {
  background-color: rgb(0, 2, 36);
  width: 100%;
  padding: 5px 50px;
  display: flow-root;
  border-bottom: 1px dotted rgba(181, 181, 181, 0.5);
}
/* .top-nav {
  position: fixed;
  top: 0px;
} */
/* .mid-nav {
  position: sticky;
  top: 30px;
} */
.top-nav p {
  font-size: 11px;
  color: white;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-nav > select {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  float: right;
  margin-right: 10px;
  box-sizing: border-box;
  font-size: 9px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.top-nav > select option {
  background-color: black;
  width: 200px;
  display: inline-block;
  text-align: center;
}
.mid-nav .logo {
  font-size: 20px;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
}
.mid-nav .logo i:first-of-type {
  /* border: 1px solid; */
  padding: 3px;
  border-radius: 50px;
  text-shadow: 1px 1px 4px rgb(252, 0, 0), -1px -1px 4px rgb(252, 0, 0);
}

.links {
  /* background-color: red; */
  display: inline-block;
  float: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.links ul li {
  display: inline-block;
  list-style: none;
  width: 70px;
  text-align: center;
}
.links a {
  text-decoration: none;
  color: rgb(155, 155, 155);
  transition: 0.5s;
  display: inline-block;
  width: 70%;
}
.links a:hover,
.links a.active {
  color: white;
  transition: 0.5s;
}
:root {
  --signin: rgba(0, 187, 255, 0.945);
}
.links .login {
  height: 25px;
  width: 88px;
  background-color: transparent;
  border: 2px solid var(--signin);
  color: var(--signin);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.6s;
}
.links .login:hover {
  transition: 0.6s;
  background-color: var(--signin);
  color: white;
  border: 2px solid var(--signin);
}

header .icon-div {
  color: black;
}
div.img {
  background-image: url("th.jpeg");
  height: 1000px;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
  /* background-position: center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* filter: grayscale(60%); */
}

div.img h1 {
  font-size: 70px;
  position: relative;
  top: 130px;
  left: 70px;
  display: inline-block;
}

div.img div {
  min-height: 400px;
  width: 100%;
  background-color: rgb(55, 46, 46);
  position: absolute;
  bottom: 50px;
}

address {
  background-color: rgb(255, 192, 18);
  width: 35%;
  height: 140px;
  border-radius: 0px 0px 53px;
  border: (128, 128, 128);
  position: relative;
  top: -40px;
  left: 200px;
  padding: 25px;
}
address p {
  margin-top: 10px;
}

.contact-form-container {
  background-color: #f7990f;
}

.contact-form {
  width: 40%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  top: -100px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  background-color: #fbb448;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #f7990f;
}

/* frequently asked question  */
.faq {
  text-align: center;
  background: rgb(255, 104, 224);
  background: linear-gradient(
    0deg,
    rgba(255, 104, 224, 1) 0%,
    rgba(255, 184, 180, 1) 18%,
    rgba(252, 143, 0, 1) 100%
  );
}

.faq h2 {
  font-size: 36px;
  margin-bottom: 50px;
  position: relative;
}

.faq h2:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  background-color: #ffc0cb;
  border-radius: 10px;
}

.faq-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.faq-question {
  position: relative;
  width: 30%;
  margin: 0 30px 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: white;
}

.faq-question:before {
  content: "?";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  color: #ffc0cb;
}

.faq-question h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.faq-question:hover .faq-answer {
  max-height: 1000px;
  margin-top: 15px;
}

.faq-answer p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 0;
}

.faq-answer p:last-child {
  margin-bottom: 0;
}

.faq-question:nth-child(even) {
  transform: rotate(-3deg);
}

.faq-question:nth-child(odd) {
  transform: rotate(3deg);
}

.faq-question:hover:nth-child(even) {
  transform: rotate(-2deg) translateY(-5px);
}

.faq-question:hover:nth-child(odd) {
  transform: rotate(2deg) translateY(-5px);
}

@media (max-width: 768px) {
  .faq-questions {
    flex-direction: column;
    align-items: center;
  }

  .faq-question {
    width: 80%;
    margin: 0 0 50px;
  }

  .faq-question:before {
    font-size: 40px;
  }
}

/* business hours */
.container-business {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(252, 143, 0, 1) 0%,
    rgba(255, 184, 180, 1) 18%,
    rgba(255, 104, 224, 1) 100%
  );
  padding: 40px;
}

.business-hours {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.business-hours:before {
  content: "";
  background: linear-gradient(to right, #e84f8b, #ff847c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.business-hours:hover:before {
  opacity: 1;
}

.business-hours h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 32px;
  color: #323c47;
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.business-hours:hover h2 {
  transform: translateY(-10px);
}

.business-hours ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.business-hours li {
  font-size: 20px;
  font-weight: bold;
  color: #323c47;
  display: flex;
  flex-direction: column;
}

.business-hours li span:first-child {
  color: #e84f8b;
  font-size: 24px;
  margin-bottom: 5px;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  color: #323c47;
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.contact-info:hover h3 {
  transform: translateY(-10px);
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contact-info li {
  font-size: 18px;
  font-weight: bold;
  color: #323c47;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.contact-info:hover li {
  transform: translateX(10px);
}

.contact-info i {
  font-size: 24px;
  margin-right: 10px;
  color: #e84f8b;
}

.location {
  background-color: #333;
  overflow: auto;
}
.location img {
  width: 40%;
  height: 500px;
  background-color: #fbb448;
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
  margin: auto;
  text-align: center;
  display: inline-block;
  shape-outside: polygon(0 0, 60% 0, 100% 100%, 0 100%);
  /* border: 2px solid black ; */
}

.loc-inf {
  width: 40%;
  height: 500px;
  background-color: #fbb448;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  /* margin:auto; */
  /* text-align: center; */
  display: inline-block;
  shape-outside: polygon (0 0, 100% 0, 100% 100%, 40% 100%);
  /* border: 2px solid black ; */
  position: relative;
  left: -220px;
}

.right {
  display: inline-block;
  width: 100%;
  position: relative;
  left: 36%;
}

.sticky-footer {
  height: 70px;
  position: fixed;
  bottom: 20px;
  z-index: 10000000;
}
.help-btn {
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 50px;
  padding: 8px 5px 10px 5px;
  background-color: rgb(12, 13, 46);
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 15px;
}
.help-btn i {
  border: 1px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
}

.socialicons-container {
  position: fixed;
  bottom: 10px;
  left: 15px;
}
.socialicons-container i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 45px;
  cursor: pointer;
  user-select: none;
}
.socialicons-container i img {
  height: 24px;
  width: 24px;
}
.socialicons-container i.arrowdown {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  z-index: 11;
  bottom: -50px;
  user-select: none;
  padding: 5px;
}
.socialicons-container i.arrowdown img {
  transform: rotate(135deg);
  transition: 2s;
}
.socialicons-container i.twitter {
  position: relative;
  margin-bottom: -50px;
  transition: 1s;
  background-image: url("social-icons/twitter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.socialicons-container i.linkedin {
  position: relative;
  margin-bottom: -50px;
  transition: 1s;
  background-image: url("social-icons/linkedin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.socialicons-container i.google {
  position: relative;
  margin-bottom: -50px;
  transition: 1s;
  background-image: url("social-icons/google-plus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.socialicons-container i.facebook {
  position: relative;
  margin-bottom: -100px;
  transition: 1s;
  color: black;
  background-image: url("social-icons/facebook.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.visible-icons i.facebook,
.visible-icons i.google,
.visible-icons i.linkedin,
.visible-icons i.twitter {
  display: grid;
  transition: 1s;
}
.visible-icons i.facebook {
  margin-bottom: -40px;
  transition: 1s;
}
.visible-icons i.linkedin {
  margin-bottom: 10px;
  transition: 1s;
}
.visible-icons i.twitter {
  margin-bottom: 10px;
  transition: 1s;
}
.visible-icons i.google {
  margin-bottom: 10px;
  transition: 1s;
}
.socialicons-container .arrowup {
  position: relative;
  z-index: 12;
  padding: 5px;
  transform: rotate(-45deg);
  background-image: url("social-icons/arrow-upper-right.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.socialicons-container .goback {
  position: relative;
  z-index: 5 !important;
  transform: rotate(135deg);
  /* transition: 2s */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #101011;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
